.cabecera{
    background-color: cadetblue;
}
.menu{
    background-color: blue;

}
.contenido{
background-color: brown;
}
.pie{
background-color: blueviolet;
}
.rojo{
    background-color: red;
}
.azul{
    background-color: blue;
}
.negro{
    background-color: black;
}
.verde{
    background-color: greenyellow;
}